/*Z sve elemente koji se budu pravili naknadno*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: "Poppins" , sans-serif;
}
/*Stil fonta na svim dugmićima i linkovima*/
a,button{
    font-family: "Poppins" , sans-serif;
}
/*Stil za meni*/
.klizućiMeniji{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    background-image: linear-gradient(rgb(228, 145, 89),orange);
}
.nešto1 , .nešto2,.nešto3,#deoSlika{
    position: relative;
}
.nešto1 ul,.nešto2 ul ,.nešto3 ul{
    position: absolute;
    background-color:transparent;
    margin-top: 10px;
    width:200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    opacity:0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 1s ease;
}
.nešto1 a , .nešto2 a , .nešto3 a {
    color: black;
    text-decoration: none;
}
.klizućiMeniji button , .home{
    background:none;
    border: none;
    color: black;
    text-decoration: none;
    font-size: 18px;
    cursor:pointer;
}
.klizućiMeniji button:hover,.home:hover{
    color: rgb(102, 255, 0);
}
.nešto1 li , .nešto2 li , .nešto3 li {
    background-image: linear-gradient(rgb(228, 145, 89),orange);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nešto1 li :hover ,.nešto2 li :hover,.nešto3 li :hover{
    color:green;
}
.nešto1 button:focus+ul,.nešto2 button:focus+ul,.nešto3 button:focus+ul,ul:hover{
    opacity:1;
    pointer-events: all;
    transform:translateY(0px);
}
#dugmeSlika{
    width: 200px;
    height: 70px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
}
#dugmeSlika img{
    width: 100%;
    height: 100%;
}
nav li{
    border-radius: 10px;
}
/*Velika slika sa zapisom*/
#slikaPozadina{
    background-image: url("../Slike/aaron-thomas-668997-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 70%;
    display: flex;
    flex-direction: row-reverse;
}
#bojaPozadina2{
    background-color:rgb(62, 240, 62) ;
}
#pasus1{
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    margin-left: 70%;
}
/*Dve vrste sekcija ispod slike*/
.pasus3,.pasus4{
    margin: 5px 5px 5px 5px;
}
.slika2{
    height: 250px;
    width: 40%;
}
#sekcije p{
    width: 50%;
}
.pasus3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(143, 219, 66);
    background-image: linear-gradient(to left ,rgb(194, 194, 0),rgb(143, 219, 66)) ;
}
.pasus4{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right ,black,chartreuse) ;
}
/*futer*/
footer{
    height: 75px;
    background-color: blue;
    margin: 5px 5px 10px 5px;
    text-align: center;
    padding-top: 25px;
    color:white;
}
/*uvod u slajd*/
#uvod{
    background-image: url("../Slike/luca-micheli-551329-unsplash.jpg");
    background-size: 100% 100%;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#uvod h3{
    font-size:300%;
    font-family: "Cambria", Helvetica, sans-serif;
    color: rgb(241, 203, 33);
}
#slajder{
    background-color: gold;
    background-size: 100% 100%;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transform:translateY(100%);
}
#sakrij{
    background-color: transparent;
    overflow: hidden;
}
#sakrij span{
    transform: translateY(100%);
    display: inline-block;
}
/*pasusi u sekcijama*/
p{
    max-width: 45%;
}
.pasusi1{
    padding-left: 8%;
}
.pasusi2{
    padding-right: 8%;
}
#pasus1{
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    color: darkblue;
}
